@CHARSET "UTF-8";

div#wrapper{
	text-align: left;
    margin: 0 auto;
    width: 1024px;
    padding: 0.5em;
    border: 2px ridge silver;
  }
}

header{
	display: inline;
}

form {
	display: inline;
}

ul.account{
	display: inline;
	list-style-type: none;
}

ul.gov{
	display: inline;
	list-style-type: none;
}

li.account, li.gov{
	display: inline;
}

a.account, a.gov{
	width: 60px;
	text-decoration: none;
	padding: 0.1em 0.3em;
	text-align: center;
}


ul.menu{
	list-style-type: none;
}

li.menu{
	height: 30px;
	border-style: none;
	text-align: center; 
}

a.menu {
	text-decoration: none;
	display: block;
}

header {
	display: block;
}

input.suchText {
	width: 28em;
}

nav {
    float: left; 
    width: 8em;
    margin: 0; padding: 0;
}

main {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
    margin-left: 12em;
    padding: 0 1em;
}

footer {
	text-align: center;
}

h1{
	text-align: center;
	margin: 10em;
}